body {
	overflow-y: hidden;
}

h4, #credits {
	text-align: center;
	color: #444;
	font-family: Georgia, serif;
}

#moves, #intersections, #new {
	color: #444;
	font-family: Georgia, serif;
	padding-left: 30px;
	display: inline;
}

#highlight {
	display: inline;
}

#new input[type='number'] {
	width: 50px;
}

h4 span {
	color: green;
}

#playArea {
	display: block;
	margin: auto;
}

